In [7]:
import pandas as pd

# 创建一个DataFrame示例
data = {
    'name': ['Alice', 'Bob', 'Charles', 'David', 'Eric'],
    'year': [2017, 2017, 2017, 2017, 2017],
    'salary': [40000, 24000, 31000, 20000, 30000]
}
df = pd.DataFrame(data)
df = df.add(df, axis=0)
print(df)

             name  year  salary
0      AliceAlice  4034   80000
1          BobBob  4034   48000
2  CharlesCharles  4034   62000
3      DavidDavid  4034   40000
4        EricEric  4034   60000